/* ChatDisplay.module.css */

/* Adjustments for the avatar and name alignment */
.avatarNameRow {
  display: flex;
  align-items: center;
}

.avatarAndNameContainer {
  width: 100%; /* Takes full width of the message container */
}

.message {
  display: flex;
  flex-direction: column; /* Stack avatar/name row and message content vertically */
  align-items: flex-start; /* Align items to the start of the flex container */
  margin-bottom: 16px;
  max-width: 100%;
  word-break: break-word;
}

.messageContentContainer {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
}

/* Ensure you have CSS for .humanMessage, .aiMessage, and .name as needed */


.chatContainer {
  border-radius: 8px;
  padding: 16px;
  min-height: 56vh;
  max-height: 56vh;
  min-width: 731px;
  max-width: 731px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatContainer.scrolling {
  justify-content: flex-end;
}

.messagesWrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.chatDisplay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.messageContentContainer {
  display: flex;
  flex-direction: column;
  /* background-color: #f8f9fa; */
  padding: 12px;
  border-radius: 12px;
}

.messageContent {
  max-width: 100%;
  word-break: break-word;
}

.avatarContainer {
  display: flex;
  align-items: center;
  /* margin-right: 10px; */
}

.message {
  display: flex;
  align-items: center; /* Aligns items vertically to the center */
  margin-bottom: 16px;
  max-width: 100%;
  word-break: break-word;
}

.messageContentContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  max-width: calc(100% - 50px); /* Adjust width based on avatar size to avoid overflow */
}

.message:last-child {
  margin-bottom: 0;
}

.humanMessage,
.aiMessage {
  color: #1a1a1a; /* Ensure text color is consistent */
}

.name {
  margin-left: 4px;
  font-size: 0.9em;
  color: #555;
}


